@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Navbar Themes */
  --navbar-bg: #181831;
  --navbar-text: #dddcdc;
  --link-hover: #7777d1;
  /* Main Page Themes */
  --section-text: #f8f8f8;
  --image-border: #050364;
  /* Project Card Themes */
  --project-card-bg: #1e1e2f;
  --project-card-border: #3e3e5c;
  --link-hover: #7777d1;
}

body {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { min-height: 100svh; }